src/main/java/ads/pos/xml/revista/source/revista.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.w3schools.com"
           xmlns="http://www.w3schools.com"
           elementFormDefault="qualified">
    
    <xs:element name="revista">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string" /> 
                <xs:element name="ISBN" type="xs:string"/> 
                <xs:element name="ano" type="xs:integer"/> 
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
    